<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	  data-namespace-typo3-fluid="true">

<f:layout name="Default" />

<f:section name="Main">
	<f:if condition="{images}">
		<div class="panorama-container">
			<div id="panorama-{data.uid}"></div>
		</div>

		<script>
			document.addEventListener("DOMContentLoaded", function() <f:format.raw value="{" />
				pannellum.viewer('panorama-{data.uid}', <f:format.raw value="{" />
					"type": "equirectangular",
					"panorama": "{f:uri.image(image:images.0,absolute:1)}",
					<f:if condition="{preview}">     
						"preview": "{f:uri.image(image:preview.0,absolute:1)}",
					</f:if>
					{f:if(condition: '{flexform.settings.autorotate} == 1', then: '"autoRotate": "6.0",')}
					{f:if(condition: '{flexform.settings.friction} != 1', then: '"friction": "0.0",')}
					{f:if(condition: '{flexform.settings.draggable} != 1', then: '"draggable": false,"disableKeyboardCtrl": true,')}
					{f:if(condition: '{flexform.settings.ui} != 1', then: '"showControls": false,')}
					"autoLoad":{f:if(condition: '{flexform.settings.autoload} == 1', then: 'true', else: 'false')}
					{f:if(condition:images.0.title, then:'"title":"{images.0.title}",')}
				});
			});
		</script>
	</f:if>
</f:section>
</html>